body {
        background-color: #101010;
        font-family: Arial, sans-serif;
        color: #ececec;
      }
      input {
        padding: 10px;
        margin: 10px 0;
        width: 300px;
        border: none;
        border-radius: 5px;
      }
      button {
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      button:hover {
        background-color: #45a049;
      }